[submodule "DMPreview/HD-DM-Android-SDK-Release"]
	path = DMPreview/HD-DM-Android-SDK-Release
	url = git@github.com:eYs3D/HD-DM-Android-SDK-Release.git
[submodule "DMPreview/HD-DM-Linux-SDK-Release"]
	path = DMPreview/HD-DM-Linux-SDK-Release
	url = git@github.com:eYs3D/HD-DM-Linux-SDK-Release.git
[submodule "DMPreview/HD-DM-Windows-SDK-Release"]
	path = DMPreview/HD-DM-Windows-SDK-Release
	url = git@github.com:eYs3D/HD-DM-Windows-SDK-Release.git
